<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Restaurant</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    @*<li>@Html.ActionLink("Inicio", "Index", "Home")</li>*@
                    <li class="nav-item">@Html.ActionLink("Mis Datos", "Perfil", new { controller = "Usuario" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Ubicar Restaurantes", "Index", new { controller = "Busqueda" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Mis Pedidos", "Index", new { controller = "Pedido" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Mis Reservas", "Index", new { controller = "Reserva" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Cerrar Sesión", "CerrarSesion", new { controller = "Usuario" }, htmlAttributes: new { @class = "nav-link" })</li>
                    @*<li class="nav-item dropdown">
                        <button type="button" class="btn btn-default text-dark nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Juan Perez
                        </button>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Mis Datos</a>
                            <a class="dropdown-item" href="#">Cambiar contraseña</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Cerrar Sesión</a>
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>
    </nav>
    <br />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <div class="container body-content">

        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                @RenderBody()
            </div>
        </div>

        <hr />
        <footer>
            <p style="text-align:center; color:#fff">&copy; @DateTime.Now.Year - Home</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
